/* cyrillic-ext */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 200 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/oswald/v53/TK3iWkUHHAIjg752FD8Ghe4.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C8A, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 200 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/oswald/v53/TK3iWkUHHAIjg752HT8Ghe4.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}




* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Oswald;
    color: #e3f2f7;
  }
  
  body {
    min-height: 100vh;
    background: #020709;
    overflow: hidden;
  }
  
nav {
    display: flex;
    padding: 10px;
    align-content: center;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    border-bottom: rgba(78, 78, 78, 0.548) 0.5px solid;
}

nav a {
    margin: 20px;
    font-weight: 500;
    font-size: large;
    text-decoration: none;
    transition: 0.5s; 
}

nav a:hover {
    transition: 0.5s; 
    text-shadow: white 0px 0px 5px;
}

.btnContact, .btnContactResponsive {
    color: white;
    background: linear-gradient(to bottom right, #96cbe2, #864fcf);
    border-radius: 10px;
    padding: 15px;
    transition: 0.5s;    
}

.btnContact:hover {
    transition: 0.5s;
    text-shadow: white 0px 0px 10px;
}

header {
    text-align: center;
    font-size: xx-large;
    padding: 100px;
}

.btnContactResponsive {
  visibility: hidden;
  display: none;
}

@media only screen and (max-width: 600px) {
  .nomSite, .btnContact {
    display: none;
    visibility: hidden;
  }
  .btnContactResponsive {
    display: block;
    visibility: visible;
  }
  nav {
    padding: 0;
  }
}

@media only screen and (max-width: 440px) {
  nav a {
    font-weight: 400;
    margin: 10px;
  }
}
