* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
    color: #e3f2f7;
    user-select: none;
  }
  
  body {
    min-height: 100vh;
    background: linear-gradient(to bottom right, #121516, #020709);
  }
  
nav {
    position: sticky;
    top: 0;
    z-index: 1000;

    display: flex;
    padding: 10px;
    align-content: center;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    border-bottom: rgba(78, 78, 78, 0.548) 0.5px solid;
    background: linear-gradient(to right, #121516, #020709);
}

nav a, .headerIndex a {
    margin: 20px;
    font-weight: 500;
    font-size: large;
    text-decoration: none;
    transition: 0.5s; 
}

.btnContact, .btnContactResponsive, .envoyerFormulaire {
    font-weight: 500;
    font-size: large;
    color: white;
    background: linear-gradient(to bottom right, #96cbe2, #864fcf);
    border-radius: 10px;
    padding: 15px;
    transition: 0.5s;    
    cursor: pointer;
}

.btnContact:hover, .envoyerFormulaire:hover {
    transition: 0.5s;
    text-shadow: white 0px 0px 10px;
}

.headerIndex {
    text-align: center;
    font-size: xx-large;
    padding: 100px;
}

.btnContactResponsive {
  visibility: hidden;
  display: none;
}

@media only screen and (max-width: 790px) {
  .nomSite, nav .btnContact {
    display: none;
    visibility: hidden;
  }
  .btnContactResponsive {
    display: block;
    visibility: visible;
  }
  nav {
    padding: 0;
  }
  nav a {
    font-weight: 400;
    margin: 13px;
  }
}

@media only screen and (max-width: 550px) {
  .nomSite, nav .btnContact {
    display: block;
    visibility: visible;
  }
  .btnContactResponsive {
    display: block;
    visibility: visible;
  }
  .btnContact {
    display: none !important;
    visibility: hidden !important;
  }
  nav {
    padding: 0;
  }
  nav a {
    display: none;
    visibility: hidden;
  }
  .headerIndex {
    font-size: large !important;
    padding: 50px !important;
  }
}

@media only screen and (max-width: 440px) { 
  nav a {
    font-weight: 400;
    margin: 10px;
  }
}

@media only screen and (max-width: 1075px) { 
  .presentation {
    flex-direction: column !important;
  }
  .presentation .card {
    margin-left: 0 !important;
  }
}

@media only screen and (max-width: 775px) { 
  .presentation .photo-profil {
    width: 300px;
  }
}

@media only screen and (max-width: 650px) { 
  .cardProjet {
      height: 320px !important;
      width: 300px !important;
  }
  .cardProjet img {
      width: 200px !important;
      height: 100px !important;
  }
  .cardProjet p {
    display: none;
    visibility: hidden;
  }
  .ensImg img {
    margin: 10px !important;
    width: 40px !important;
    height: 40px !important;
    overflow: hidden;
  }
}

.headerIndex {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    height: 800px;
}

.headerIndex h1 {
  font-size: 300%;
}

.headerIndex h5 {
  font-weight: 100;
  margin: 50px;
}

.btnVisite {
  transition: 0.5s;
  color: white;
  background: linear-gradient(to bottom right, #ffffff00, #cecece00);
  border-radius: 10px;
  padding: 15px;
  border: 1px solid white;    
  text-decoration: none;
}

.btnVisite:hover {
  transition: 0.5s;
  background: linear-gradient(to bottom right, #ffffff, #cecece);
  color: black;
}

.gradient-text {
  font-weight: bold;
  background: linear-gradient(120deg, #96cbe2 40%, #864fcf);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.fade-slide {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeSlideIn 1s ease forwards;
}

@keyframes fadeSlideIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.typewriter {
  overflow: hidden;
  white-space: nowrap;
  letter-spacing: .15em;
  animation: typing 2.5s steps(60, end), blink .75s step-end infinite;
}

@keyframes typing {
  from { width: 0 }
  to { width: 120px }
}

@keyframes blink {
  50% { border-color: transparent }
}

.hoverNavElement:hover, .gaucheFooter a:hover {
  border-bottom: .15em solid white;
  white-space: nowrap;
  animation: typing 2.5s steps(30, end), blink .75s step-end infinite;
}

@keyframes blink {
  50% { border-color: transparent }
}

.arrow-down {
  position: fixed;
  top: 850px;
  right: 97.5%;
  width: 24px;
  height: 24px;
  border-left: 4px solid white;
  border-bottom: 4px solid white;
  transform: rotate(-45deg);
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 100% { transform: translateY(0) rotate(-45deg); }
  50% { transform: translateY(10px) rotate(-45deg); }
}

.headerContact {
  display: flex;
  margin: 30px;
  margin-top: 50px;
  justify-content: space-around;
  min-height: 720px;
}

.formulaireContact {
  border: rgba(78, 78, 78, 0.548) 0.5px solid;
  border-radius: 10px;
  padding: 30px;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.infoContact {
  border: rgba(78, 78, 78, 0.548) 0.5px solid;
  border-radius: 10px;
  padding: 30px;
  width: 35%; 
  text-align: center;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-between;
}

input, textarea, select {
  background-color: #02070900;
  color: white;
  font-family: "Rubik", sans-serif;
  padding: 10px;
  border-radius: 0px;
  border: 1px solid rgba(78, 78, 78, 0.548);
  margin-top: 10px;
  margin-bottom: 10px;
}

textarea {
  min-height: 200px;
  max-width: 1055px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

form h4 {
  font-weight: 100;
}

input:active, input:focus, textarea:active, textarea:focus {
  outline: none;
}

#contactSelect:focus {
  color: white;
  background: #0e1011;
}

.formulaireTexte h3, .formulaireTexte h5, .formulaireTexte h1 {
  margin-bottom: 20px;
}

.secPresentation {
  border: rgba(78, 78, 78, 0.548) 0.5px solid;
  padding: 2rem;
  min-height: 750px;
  margin: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  align-items: flex-start;
}

.secPresentation h1, .secProjet h1, .secCapacites h1, .secFin h1 {
  padding-bottom: 50px;
  font-size: 40px;
}

.presentation {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  flex-wrap: nowrap;
  flex-direction: row;
}

.section-title {
  font-size: 2.5rem;
  margin-bottom: 2rem;
  text-align: center;
}

.card {
  margin-left: 50px;
  background-color: #1b1f22;
  padding: 1.5rem 2rem;
  border-radius: 15px;
  margin-bottom: 2rem;
  box-shadow: 0 4px 12px #96cbe249;
  transition: transform 0.3s ease;
  transition: 0.5s;
}

.card:hover, .divUtilise:hover {
  transition: 0.5s;
  transform: translateY(-5px);
  box-shadow: 0 4px 12px #96cbe298;
}

.card-title {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.card p {
  font-size: 1.1rem;
  line-height: 1.6;
  margin-bottom: 1rem;
}

.parcours-list {
  list-style: none;
  padding-left: 0;
  font-size: 1.05rem;
}

.parcours-list li {
  margin-bottom: 0.75rem;
  position: relative;
  padding-left: 1.5rem;
}

.parcours-list li::before {
  content: '🡢';
  position: absolute;
  left: 0;
  top: 0;
}

.photo-profil {
  border: 5px solid #1e2225;
  background: #1b1f22;
  width: 450px;
  transition: all 0.5s ease;
  border-radius: 50%;
  margin-bottom: 20px;
}

.secProjet {
  border: rgba(78, 78, 78, 0.548) 0.5px solid;
  padding: 2rem;
  margin: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}

.cardProjet {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
  height: 520px;
  width: 500px;
  background-color: #1b1f22;
  padding: 2rem;
  border-radius: 15px;
  box-shadow: 0 4px 12px #96cbe249;
  transition: transform 0.3s ease;
  opacity: 0.80;
  margin: 20px !important;
}

.cardProjet:hover {
  transition: 0.5s;
  transform: translateY(-5px);
  box-shadow: 0 4px 12px #96cbe298;
  opacity: 1;
}

.cardProjet img {
  width: 400px;
  height: 200px;
  border: 5px solid #1e2225;
  background: #1b1f22;
  margin-left: auto;
  margin-right: auto;
  display: block;
  object-fit: cover; /* recadre l'image sans déformer */
  object-position: center; /* centre l'image dans le cadre */
}

.cardProjet img, .cardProjet h2, .cardProjet p, .cardProjet button {
  margin-bottom: 20px;
}

.cardProjet .btnVisite {
  margin-top: auto;
  align-self: center; /* ça l’empêche de prendre toute la largeur */
  width: fit-content; /* garde la taille naturelle */
}

.cardProjet button {
  cursor: pointer;
  font-family: "Rubik", sans-serif;
  font-size: large;
}

.ensCard {
  margin: 50px 0; /* supprime les marges latérales */
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap; /* autorise le passage à la ligne */
  align-items: stretch;
  width: 100%; /* prend toute la largeur de son parent */
}

.secCapacites {
  border: rgba(78, 78, 78, 0.548) 0.5px solid;
  padding: 2rem;
  min-height: 750px;
  margin: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  align-items: flex-start;
}

.ensImg {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: space-around;
}

.ensImg img {
  background-color: none;
  margin: 20px;
  width: 75px;
  height: 75px;
  border: none;
}








.droite {
  padding-left: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.gauche {
  padding-right: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.popUp {
  padding: 2rem;
  border-radius: 15px;
  border: rgba(78, 78, 78, 0.548) 0.5px solid;
  margin: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.popUp .imgIllustration {
  border: 5px solid #1e2225;
  border-radius: 10px;
  width: 600px;
  height: 250px;
  object-fit: cover;
  object-position: center; 
  margin-bottom: 20px;
}

.ensImgPopUp img {
  width: 50px;
  height: 50px;
  border: none;
  background-color: none;
  margin-top: 10px;
}

.divUtilise {
  width: 600px;
  background-color: #1b1f22;  
  padding: 1.5rem 2rem;
  border-radius: 10px;
  margin-top: 20px;
  box-shadow: 0 4px 12px #96cbe249;
  transition: transform 0.3s ease;
  transition: 0.5s;
}

.ensImgPopUp {
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  align-content: center;
}

.redirectionGithub {
  border-radius: 10px;
  border: 2px solid rgb(0, 255, 0);
  color: rgb(0, 255, 0);
  padding: 20px;
  text-decoration: none;
  transition: 0.5s;
  text-align: center;
}

.redirectionGithub:hover {
  color: #1b1f22;
  background-color: rgb(0, 255, 0);
  transition: 0.5s;
}

.texte h1 {
  text-align: center;
  margin-bottom: 30px;
}

.texte h2 {
  margin: 10px;
}

.texte p {
  text-align: justify;
  margin-top: 10px;
  margin-bottom: 10px;
}

.secFin h1 {
  padding-bottom: 0;
  font-size: 400%;
}

.secFin {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    padding: 100px;
    padding-bottom: 200px;
}

.secFin p {
  margin: 50px;
}

.secFin a {
  text-decoration: none;
}

.secFin div a {
  margin: 50px;
}

footer {
    bottom: 0;
    padding: 50px;
    border-top: rgba(78, 78, 78, 0.548) 0.5px solid;
    background: linear-gradient(to right, #121516, #020709);
}

.ensCat {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.gaucheFooter a {
  margin-right: 50px;
  text-decoration: none;
}

.droiteFooter a {
  margin-left: 10px;
  text-decoration: none;
}

.mentionsLegales h2 {
  margin-top: 30px;
}

.svgIcon {
  width: 30px;
  height: 30px;
}

.infoContact h2 {
  padding-top: 10px;
  padding: 10px;
}

.redirectionGithubImpossible {
  border-radius: 10px;
  border: 2px solid rgb(255, 0, 0);
  color: rgb(255, 0, 0);
  padding: 20px;
  text-decoration: none;
  transition: 0.5s;
  text-align: center;
}

.redirectionGithubImpossible:hover {
  color: #1b1f22;
  background-color: rgb(255, 0, 0);
  transition: 0.5s;
}